main.ed--main
    //- Hero
    section.ed--module.ed--module-hero
        .col.right-col
            .ed--module-hero-image(data-bgimage=`${assetPath}`+'sneaker-slower.gif')
        .col.left-col
            .title
                h1.bold.center !{hero_title}
            .desc
                p !{hero_desc}
            .cta-row
                a(href="#top-picks-women")
                    button.button-black
                        span.btn-text !{cta_women}
                a(href="#top-picks-men")
                    button.button-black
                        span.btn-text !{cta_men}
                #top-picks-women

    //- Arrow Divider
    .arrow-divider
        <svg version="1.1" x="0px" y="0px" width="49.03px" height="28px" viewBox="0 0 49.03 28" style="enable-background:new 0 0 49.03 28;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M24.51,17.82L6.28,0.99C4.76-0.41,2.39-0.31,0.99,1.2S-0.31,5.09,1.2,6.49L24.51,28L47.82,6.49c1.52-1.4,1.61-3.77,0.21-5.28c-1.4-1.52-3.77-1.61-5.28-0.21L24.51,17.82z"/></svg>

    //- Product Feed on Slider
    section.ed--module.ed--module-slider-feed
        .title
            h2.sectionTitle.center !{pick_her_title}
        .desc
            p !{pick_her_desc}
        .ed--module-slider-holder(data-items="6" data-itemcta=`${cta_style}` data-feed=`${feedPath}`+'/sets/women/womens-custom-shoe-picks.aspx?format=json')
        .swiper-container
            .swiper-wrapper
            .swiper-pagination
            .swiper-button-next
                <svg version="1.1" x="0px" y="0px" width="28px" height="49.03px" viewBox="0 0 28 49.03" style="enable-background:new 0 0 28 49.03;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M0.99,42.75c-1.4,1.52-1.31,3.88,0.21,5.28c1.52,1.4,3.88,1.31,5.28-0.21L28,24.51L6.49,1.2C5.09-0.31,2.72-0.41,1.2,0.99s-1.61,3.77-0.21,5.28l16.83,18.24L0.99,42.75z"/></svg>
            .swiper-button-prev
                <svg version="1.1" x="0px" y="0px" width="28px" height="49.03px" viewBox="0 0 28 49.03" style="enable-background:new 0 0 28 49.03;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M10.18,24.51L27.01,6.28c1.4-1.52,1.31-3.88-0.21-5.28c-1.52-1.4-3.88-1.31-5.28,0.21L0,24.51l21.51,23.31c1.4,1.52,3.77,1.61,5.28,0.21c1.52-1.4,1.61-3.77,0.21-5.28L10.18,24.51z"/></svg>


    //- Product Feed on Slider (no product desc; multiFeed variant, multiFeed class is needed!, no need to define data-items number)
    section.ed--module.ed--module-slider-feed.multiFeed
        .title
            h2.sectionTitle.center !{shop_designer_title}
        .desc
            p !{shop_designer_desc}
        .ed--module-slider-holder(data-itemcta=`${cta_style}` data-includedesc="no" data-feed!=''+`${feedPath}`+'/shopping/women/designer-swear/items.aspx?format=json'+', '+`${feedPath}`+'/sets/women/dorateymur-custom-styles.aspx?format=json'+', '+`${feedPath}`+'/sets/women/customizable-NK-women.aspx?format=json'+', '+`${feedPath}`+'/sets/women/sergio-rossi-women.aspx?format=json'+', '+`${feedPath}`+'/sets/women/toga-pulla-women.aspx?format=json'+', '+`${feedPath}`+'/sets/women/paul-andrew-women-custom-styles.aspx?format=json'+', '+`${feedPath}`+'/sets/women/emilio-pucci-cityup-sneakers.aspx?format=json'+'')
        .swiper-container
            .swiper-wrapper
            .swiper-pagination
            .swiper-button-next
                <svg version="1.1" x="0px" y="0px" width="28px" height="49.03px" viewBox="0 0 28 49.03" style="enable-background:new 0 0 28 49.03;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M0.99,42.75c-1.4,1.52-1.31,3.88,0.21,5.28c1.52,1.4,3.88,1.31,5.28-0.21L28,24.51L6.49,1.2C5.09-0.31,2.72-0.41,1.2,0.99s-1.61,3.77-0.21,5.28l16.83,18.24L0.99,42.75z"/></svg>
            .swiper-button-prev
                <svg version="1.1" x="0px" y="0px" width="28px" height="49.03px" viewBox="0 0 28 49.03" style="enable-background:new 0 0 28 49.03;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M10.18,24.51L27.01,6.28c1.4-1.52,1.31-3.88-0.21-5.28c-1.52-1.4-3.88-1.31-5.28,0.21L0,24.51l21.51,23.31c1.4,1.52,3.77,1.61,5.28,0.21c1.52-1.4,1.61-3.77,0.21-5.28L10.18,24.51z"/></svg>


    //- Product Grid
    section.ed--module.ed--module-product-grid
        .title
            h2.sectionTitle.center !{shop_trend_title}
        .desc
            p !{shop_trend_her_desc}
        .gridHolder
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_1_1_title}` data-feed=`${feedPath}`+'/sets/women/custom-sneakers-for-women.aspx?format=json')
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_1_2_title}` data-feed=`${feedPath}`+'/sets/women/custom-loafers-for-women.aspx?format=json')
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_1_3_title}` data-feed=`${feedPath}`+'/sets/women/custom-mules-for-women.aspx?format=json')
            .ed--module-category-single.tall(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_1_4_title}` data-feed=`${feedPath}`+'/sets/women/custom-boots-for-women.aspx?format=json')
        .cta-row
            #top-picks-men
            a(href="#")
                button.button-black
                    span.btn-text !{cta_shopwomen}

    hr.genderDivider

    //- Product Feed on Slider
    section.ed--module.ed--module-slider-feed
        .title
            h2.sectionTitle.center !{pick_him_title}
        .desc
            p !{pick_him_desc}
        .ed--module-slider-holder(data-items="6" data-itemcta=`${cta_style}` data-feed=`${feedPath}`+'/sets/men/mens-custom-shoe-picks.aspx?format=json')
        .swiper-container
            .swiper-wrapper
            .swiper-pagination
            .swiper-button-next
                <svg version="1.1" x="0px" y="0px" width="28px" height="49.03px" viewBox="0 0 28 49.03" style="enable-background:new 0 0 28 49.03;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M0.99,42.75c-1.4,1.52-1.31,3.88,0.21,5.28c1.52,1.4,3.88,1.31,5.28-0.21L28,24.51L6.49,1.2C5.09-0.31,2.72-0.41,1.2,0.99s-1.61,3.77-0.21,5.28l16.83,18.24L0.99,42.75z"/></svg>
            .swiper-button-prev
                <svg version="1.1" x="0px" y="0px" width="28px" height="49.03px" viewBox="0 0 28 49.03" style="enable-background:new 0 0 28 49.03;" xml:space="preserve"><style type="text/css">.st0{fill:#222222;}</style><defs></defs><path id="Path_2_1_" class="st0" d="M10.18,24.51L27.01,6.28c1.4-1.52,1.31-3.88-0.21-5.28c-1.52-1.4-3.88-1.31-5.28,0.21L0,24.51l21.51,23.31c1.4,1.52,3.77,1.61,5.28,0.21c1.52-1.4,1.61-3.77,0.21-5.28L10.18,24.51z"/></svg>

    //- Product Grid
    section.ed--module.ed--module-product-grid
        .title
            h2.sectionTitle.center !{shop_trend_title}
        .desc
            p !{shop_trend_him_desc}
        .gridHolder
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_2_1_title}` data-feed=`${feedPath}`+'/sets/men/custom-slipons-for-men.aspx?format=json')
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_2_2_title}` data-feed=`${feedPath}`+'/sets/men/custom-low-tops-for-men.aspx?view=180&scale=282&category=136361&format=json')
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_2_3_title}` data-feed=`${feedPath}`+'/sets/men/custom-high-tops-for-men.aspx?view=180&scale=282&category=136489&format=json')
            .ed--module-category-single(data-itemcta=`${cta_style}` data-titlecat=`${product_grid_2_4_title}` data-feed=`${feedPath}`+'/sets/men/custom-tech-trainers-for-men.aspx?format=json')
        .cta-row
            a(href="#")
                button.button-black
                    span.btn-text !{cta_shopmen}

//- script(src="https://cdn-static.farfetch-contents.com/Content/UP/editorial_assets/sneakers-editorial/assets/main.js")
